force-app/main/default/flows/Appointment_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reminder_Email</name>
        <label>Reminder Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AppointmentReminderConfirmation</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>appointmentIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AppointmentReminderConfirmation</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Appointment_Status</name>
        <label>Check Appointment Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_rescheduled_Nor_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_Email</targetReference>
            </connector>
            <label>If Not rescheduled Nor Cancelled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Appointment Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Appointment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Send_Email_24_Hour_Before</name>
            <connector>
                <targetReference>Check_Appointment_Status</targetReference>
            </connector>
            <label>Send Email 24 Hour Before</label>
            <offsetNumber>-24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Appointment_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
